/*wekin样式开始*/

header .header {
    width: 100%;
    height: 72px !important;
}

section .main {
    width: 100%;
    padding-top: 0;
    border:1px solid #dedede!important;
}

section .wlk-top {
    background: #fff;
    padding: 20px 10px;
    margin-bottom: 0 !important;

}

.wlk-group .tit{
    height: 30px;
    background-color: #f2f3f3;
    line-height: 30px;
    padding-left: 20px;
    margin-bottom: 10px;

}
section label {
    padding-top: 5px !important;
    color: #000 !important;
    font-weight: bold !important;
}

@media (max-width: 992px) {
    section .wlk-top .btn-box {
        margin-top: 10px;
    }
}

section .wlk-bottom {
    background: #fff;
    padding: 0 30px !important;
}

section .wlk-bottom .query-operation {
    height: 40px !important;
    background: #f6f7f9 !important;
    padding: 8px 20px !important;
}

section .wlk-bottom .qurey-result {
    padding: 0 1px !important;
}

section.main-fullscreen {
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    top: 72px ;
    bottom: 0;
    padding-top: 0;
}

section.main-fullscreen .container-fluid {
    height: 100%;
}

section.main-fullscreen .container-fluid .wlk-outgrail {
    overflow: hidden;
    height: 100%;
    margin-left: -10px;
    padding-left: 75px;
}

section.main-fullscreen .container-fluid .wlk-outgrail .wlk-outaside {
    float: left;
    width: 192px;
    height: 100%;
    margin-left: -100%;
    position: relative;
    left: -75px;
    _left: 0;
    background: #36485e;
}

section.main-fullscreen .container-fluid .wlk-outgrail .wlk-outaside.collapsed {
    /*width: 64px!important;*/
}

/*测试1*/
section.main-fullscreen .container-fluid .wlk-outgrail .wlk-container {
    float: left;
    width: 100%;
    height: 100%;
    padding-top: 0 !important;
}

section.main-fullscreen .container-fluid>div.row,
section.main-fullscreen .container-fluid>div>div {
    height: 100%;
}

section.main-wholescreen {
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: 15px;
    padding-top: 20px;
    top: 80px;
}

section.main-fullscreen .container-fluid .wlk-ingrail {
    overflow: hidden;
    height: 100%;
    margin-left: -10px;
    padding-left: 288px;
}

section.main-fullscreen .container-fluid .wlk-ingrail .wlk-inaside {
    float: left;
    width: 276px;
    height: 100%;
    margin-left: -100%;
    position: relative;
    left: -288px;
    _left: 0;
}
section.main-fullscreen .container-fluid .wlk-ingrail .wlk-container {
    float: left;
    width: 100%;
    height: 100%;
}


/*内部侧边栏*/
section.main-fullscreen .container-fluid .wlk-grail {
    overflow: hidden;
    height: 100%;
    padding-left: 230px;
}
section.main-fullscreen .container-fluid .wlk-grail .wlk-aside {
    float: left;
    width: 215px;
    height: 100%;
    margin-left: -100%;
    position: relative;
    left: -230px;
    _left: 0;
}
section.main-fullscreen .container-fluid .wlk-grail .wlk-container {
    float: left;
    width: 100%;
    height: 100%;
}
/*wekin样式结束*/


/*header样式开始*/
.nav-head {

    padding-top: 0 !important;

    line-height: 40px !important;
}


html,body {
    width: 100%;
    height: 100%;
    font-size: 14px;
    background: #fafafa;
    font-family: Arial, 'Microsoft YaHei', 'SimSun';
    /* overflow-x:hidden;
    overflow-y: auto;*/
}

.header {
    width: 100%;
    height: 40px !important;
    position: relative;
    background: #303e55 repeat-y center !important;
    /*菜单按钮*/
    /* .fne-logo {
    background: #ee3945 @nav-menu-btn no-repeat center;
    width: 60px;
    height: 80px;
    }*/
}
/*logo部分*/
.header .nav-menu {
    /*background: #2e8ded url("../assets/images/fap4/logo.png") no-repeat 10%;*/
    background: #6098e3 !important;
    width: 64px;
    height: 40px !important;
    line-height: 40px !important;
    text-align: center;
    position: relative;
}

.header .fne-logo {
    width: 192px;
}

.header .fne-logo.collapsed {
    width: 64px;
}

.header .logo-collapsed {
    margin-right: 12px;
}

.header .logo.switch {
    display: block;
}

.header .logo-collapsed.switch {
    display: none;
}

.header .lne-title {
    padding-left: 10px;
    font-size: 18px !important;
    color: #fff;
    letter-spacing: 0 !important;
}
.header .lne-title.switch {
    display: none;
}

.header .expand-btn {
    position: absolute;
    top: 25px !important;
    right: -15px;
    z-index: 1;
}

/*.header .navbar-dropmenu-container {
display: none;
position: absolute;
top: 80px;
left: 0;
background: #b0b3b9;
z-index: 9999;
}

.header .navbar-dropmenu-container .list-group,
.header .navbar-dropmenu-container .list-group-item {
border-radius: 0;
border: none;
background: #666eb9;
color: #fff;
margin: 0;
cursor: pointer;
padding: 0;
}

.header .navbar-dropmenu-container .list-group a,
.header .navbar-dropmenu-container .list-group-item a {
display: block;
width: 100%;
height: 100%;
padding: 10px 15px;
color: #fff;
}

.header .navbar-dropmenu-container .list-group-item:hover {
background: #727AC6;
box-shadow: 2px 2px 5px #333;
}

.header .navbar-dropmenu-container .list-group-item:hover>.second-level-menu {
display: block;
}

.header .navbar-dropmenu-container .first-level-menu {
display: none;
width: 180px;
position: relative;
}

.header .navbar-dropmenu-container .first-level-menu .second-level-menu {
display: none;
position: absolute;
width: 180px;
top: 0;
left: 180px;
}

.header .navbar-dropmenu-container .navdrop-mask {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: -1;
}

.header .break-nav {
position: absolute;
top: 44px;
left: -15px;
}
.header .break-nav .breadcrumb {
color: #555555;
}
.header .break-nav .breadcrumb a {
color: #555555;
}*/

/*.header .logo {
margin-left: 40px;
height: 80px;
line-height: 80px;
display: none;
}

.header .logo-title {
color: #222;
font-size: 18px;
padding-top: 39px;
}

.header .logo-title .hz-brunch {
padding: 0 15px;
border-right: 1px solid #ccc;
}

.header .logo-title .fne-img {
margin: 0 10px;
}*/

.header .opt-box {
    line-height: 40px !important;
    padding: 0 !important;
}

.header .opt-box .search form {
    display: inline-block;
    position: relative;
}

.header .opt-box .search form input[type=text] {
    width: 180px;
    background: rgba(225, 225, 225, 0.3);
    border: none;
    border-radius: 20px;
    padding: 4px 0px 4px 37px;
    color: #fff;
    outline: none;
    margin-right: 20px;
}

.header .opt-box .search form .serch-img {
    position: absolute;
    top: 2px;
    left: 11px;
    width: 20px;
    height: 19px;
    color: #fff;
    font-size: 18px;
}

.header .opt-box .search form input[type=text]:focus {
    border: none;
}

.header .opt-box .search form input[type=submit] {
    display: none;
}

.header .opt-box .search form input[type=text]::-webkit-input-placeholder {
    color: #fff;
}

.header .opt-box .search form input[type=text]::-moz-placeholder {
    color: #fff;
}

.header .opt-box .btn-box {
    display: inline-block;
}

.header .opt-box .btn-box a{
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: #fff !important;
}

.header .opt-box .btn-box .head-words {
    font-size: 14px;
    padding: 0 15px 0 10px;
}

.header .opt-box .btn-box .icon-wrap {
    text-decoration: none;
    cursor: pointer;
    font-size: 19px;
}

.header .opt-box .btn-box a:hover,
.header .opt-box .btn-box a:focus {
    /*color: #fff;*/
    text-decoration: none;
}
.header .opt-box .btn-box a .iconfont {
    margin: 0;
    line-height: 0;
    font-size: 20px;
}



.header .opt-box .btn-box .msg-tip {
    display: inline-block;
    position: relative;
}
.header .opt-box .btn-box .msg-tip .new-msg {
    position: absolute;
    top: -14px;
    right: -1px;
    padding: 0px 9px;
    background: #e9593e;
    border-radius: 15px;
    color: #fff;
}
.header .opt-box .btn-box .user-settings {
    display: inline-block;
    color: #777777;
}
.header .opt-box .btn-box .user-settings ul {
    background: #ffffff;
    /*padding: 10px 10px;*/
    width: 150px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: absolute;
    top: 33px;
    left: -11px;
}
.header .opt-box .btn-box .user-settings ul li[role="presentation"] {
    padding: 4px 10px;
    cursor: pointer;
    word-spacing: 8px;
    letter-spacing: 1px;
    font-size: 14px;
}
.header .opt-box .btn-box .user-settings ul li[role="presentation"]:hover {
    background: #f2f2f3;
}
.header .opt-box .btn-box .user-settings ul li[role="presentation"] .mod-pwd{
    margin: 0;
}
.header .opt-box .btn-box .user-settings ul li.divider {
    margin: 0;
}

.header .opt-box .btn-box .user-settings ul.dropdown-menu {
    padding: 0;
}


/*
.header .entrust a {
color: #fff !important;
}
.header .entrust a:hover,
.header .entrust a:focus {
background: none;
}
.header .dpn-menu {
display: inline-block;
color: #fff;
}
.header .dpn-menu ul {
background: #5ec2c7;
padding: 5px 10px;
width: 200px;
border: 1px solid rgba(0, 0, 0, 0.15);
border-radius: 4px;
position: absolute;
top: 53px;
left: -104px;
}
.header .dpn-menu ul li[role="presentation"] {
padding: 5px 0;
cursor: pointer;
word-spacing: 8px;
letter-spacing: 1px;
}
.header .dpn-menu ul li.divider {
margin: 0;
}
.header .entrust-btn {
background: rgba(255, 255, 255, 0.3);
border-radius: 17px;
color: #fff;
}
*/


/* 项目导航条 */

.nav-head {
    margin-left: 36px;
    padding-top: 0 !important;
    display: block;
    position: relative;
    width: 400px;
    line-height: 40px !important;
}

.nav-spa {
    font-size: 18px !important;
    font-weight: bold;
    color: #fff !important;
    letter-spacing: 3px;
}

.nav-head ul li {
    list-style: none;
    float: left;
}

.nav-head li {
    padding-right: 8px;
    font-size: 12px;
    color: #555555;
}

.nav-head li a {
    text-decoration: none;
    color: #555555;

}

/*header样式开始*/